# Temp files
*~$*\.SLD*
*.swp

# Python compiled files
*.pyc
/__pycache__/
*.egg-info*

# venv files directory
*satcomm/

# vscode settings
.vscode/

# my hamlib logger file
# could show up anywhere now that I've generalized the paths
*rotlog.log

# gnuradio files
apt_dump_sink
*build
